@{
    ViewData["Title"] = "Login";
}
<body>
    <div>
        <div class="ld-login">
            <div class="ld-wrapper">
                <main class="main-content">
                    <div class="left">
                        <span class="steps">PASSO 1 DE 2</span>
                        <h1 class="main-title">
                            <span class="up">Olá!</span>
                            <span class="down">Vamos criar seu cadastro.</span>
                        </h1>
                        <div class="radio-buttons">
                            <h3 class="title">Qual o seu perfil?</h3>
                            <div class="buttons">
                                <label class="ld-radio">
                                    Dev
                                    <input name="cargo" type="radio">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="ld-radio">
                                    Cliente
                                    <input name="cargo" type="radio">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                        </div>
                        <input type="text" class="ld-input" placeholder="Nome Completo">
                        <input type="text" class="ld-input" placeholder="Data de nascimento">
                        <input type="text" class="ld-input" placeholder="Email">
                        <input type="text" class="ld-input" placeholder="Senha">
                        <button class="ld-button">Continuar</button>


                    </div>
                    <div class="right">
                        <img class="image" src="/assents/image/bg-cubes.png" alt="fundo de decoração com 3 cubos com gradiente das cores do arco-iris">
                    </div>
                </main>
            </div>

        </div>
    </div>
</body>
</html>
